@mixin inactive {
  box-shadow: 0px -1px 3px 2px white, 1px 1px 3px 1px #988F99;
}

@mixin active {
  box-shadow: 0px -3px 5px 4px white, 3px 3px 5px 3px #988F99;
}

.wrapper {
  background: #f3f3f3;
  border-radius: 25px;
  color: #b4b4b4;
  padding: 12.5px 5px;
  position: relative;
  transform: translate(0,0);


  @include inactive;
}

.wrapper:focus-within {
  animation: raised 500ms ease-in-out;
  transform: translate(-2px, -2px);

  @include active;
}

.icon {
  height: 15px;
  position: absolute;
  width: 15px;

  path {
    fill: #cfcfcf;
  }
}

.label {
  left: 25px;
  pointer-events: none;
  position: absolute;
  top: 25%;
  transition: top .5s ease-in-out;
}

.input {
  background: none;
  border-style: unset;
  outline: none;
  padding-left: 20px;
  transition: transform .5s ease-in-out;
  width: 100%;
}

.input::placeholder {
  color: #cfcfcf;
  opacity: 0;
  transition: opacity .5s ease-in-out;
}

.input:focus::placeholder {
  opacity: 1;
}

.input:focus,
.input:not([value=""]),
.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus,
.input:-webkit-autofill:active {
  transform: translateY(8px);
  transition: background-color 5000s ease-in-out 0s;

  & + .label {
    top: -2px;
  }
}

@keyframes raised {

  from {
    transform: translate(0,0);

    @include inactive;
  }

  to {
    transform: translate(-2px, -2px);

    @include active;
  }
}