{
  "extends": [
    "airbnb",
    "prettier",
    "prettier/react",
    "plugin:@typescript-eslint/recommended",
    "prettier/@typescript-eslint"
  ],
  "plugins": ["prettier", "react", "react-hooks", "@typescript-eslint"],
  "parser": "@typescript-eslint/parser",
  "globals": {
    "Cypress": true,
    "cy": true,
    "context": true,
    "assert": true,
    "afterEach": true,
    "beforeEach": true,
    "document": true,
    "window": true,
    "localStorage": true
  },
  "rules": {
    "prettier/prettier": ["error"],
    "no-console": ["error", { "allow": ["log"] }],
    "react/sort-comp": "off",
    "import/no-unresolved": "off",
    "react/jsx-indent": [2, 4],
    "react/jsx-indent-props": [2, 4],
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/interface-name-prefix": 0,
    "import/prefer-default-export": "off",
    "import/extensions": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".tsx", ".jsx"] }],
    "react/state-in-constructor": 0
  }
}
