.tabs {
	background: #68257c;
	display: flex;
	margin-bottom: 5px;
	position: sticky;
	top: 0;
	z-index: 1;
}

.tabWrapper {
	padding: 10px 5px;
}

.tab {
	color: white;
	cursor: pointer;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 1px;
	padding: 10px 5px;
	position: relative;
	transition: font-size .2s ease-in-out;
}

.tabActive {
	font-weight: 600;
	letter-spacing: .6px;
}

.tabDisabled {
	border-bottom: 5px solid gray;
	color: gray;
	cursor: auto;
}

.link {
	text-decoration: none;
}

.link:hover {
	color: black;
	text-decoration: none;
}

.line {
	background: white;
	bottom: 10px;
	height: 2px;
	position: absolute;
	transition: .2s left  ease-in-out, .2s width  ease-in-out;
}
