.modal {
  border-radius: 8px;
  display: flex;
  flex-flow: column;
  padding: 20px;
  perspective: 1000px;
  perspective-origin: center -5em;
  position: fixed;
}

.content {
  transform: translate3d(0, 0, -3000px) rotate3d(1, 0, 0, -360deg);
  transition: all 2000ms;

}

.active {
  animation: shadow 1000ms;
  box-shadow: 40px 40px 20px 0 grey;
  transform: translate3d(0, 0, 0) rotate3d(1, 0, 0, 0deg);
}

@keyframes shadow {

  0% {
    box-shadow: 0 0 0 0 grey;
  }

  99% {
    box-shadow: 0 0 0 0 grey;
  }

  100% {
    box-shadow: 40px 40px 20px 0 grey;
  }
}